<div class="container" id="contact">
  <div class="col-md-6" id="form_contact">
    <h2>CONTACT US</h2>
      <%= flash[:notice] %>
      <%= form_tag("/static_pages/thank_you") do %>
        <div class="row">
          <div class="form-group">
            <%= label_tag :name, "Your Name" %>
            <%= text_field_tag :name, nil, class:"form-control", id:"exampleInputEmail1", placeholder:"Enter Email" %> 
          </div>
          <div class="form-group">
            <%= label_tag :emial, "Your Email" %>
            <%= text_field_tag :email, nil, class:"form-control", id:"exampleInputEmail1", placeholder:"Enter Email" %> 
          </div>
          <div class="form-group">
            <%= label_tag :message, "Your Massege" %>
              <%= text_field_tag :message, nil, class:"form-control", id:"exampleInputEmail1", maxlength:"200", required:"required", placeholder:"Enter Message" %> 
          </div>
        </div>
      <%= submit_tag "Send" %>
      <% end %>
  </div>
</div>