<!DOCTYPE html>
<html >
<head>
  <title>Demo</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- ============================= -->
  <!-- All your JavaScript comes now -->
  <!-- ============================= -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 

  <!-- Latest compiled and minified JavaScript -->
  

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="projectName navbar-brand pull-left">
        <%= link_to 'PROJECT DEMO', root_path %>
        </div> <!--end projectName -->
        <form class="navbar-form navbar-right" role="search">
          <div class="input-group">
            <%= form_tag("/products", method: "get") do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("search") %>
            <% end %>
          </div>
        </form>
          <div class="navbar-header pull-right"> 
      
             <!--  </div> <!--end navbar-header -->
              <!--  <div class="navbar-collapse collapse">-->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Home', root_path %></li>
                  <li><%= link_to 'About', static_pages_about_path %></li>
                  <li><%= link_to 'Contact', static_pages_contact_path %></li>
                  <li><%= link_to 'Products', products_path %></li>
                  <li><%= link_to 'Orders', orders_path %></li>
                  <li>
                    <% if user_signed_in? %>
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                    <% else %>
                    <%= link_to('Login', new_user_session_path) %>
                    <% end %>
                  </li>
                </ul>
          </div> <!-- nav -->
      </div> <!-- end nav container-->
    </nav> <!-- end navbar-->

<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<%= yield %>
<!-- Footer-->
    <!-- you tube-->
    <div class="container" id="footer">
      <footer>

        <div class="footer">
          <div class="copyright">
            <h6>Asrizal. 2015</h6>
            </div>
            
            <!-- face book-->

            <div class="fb-like fb_iframe_widget" data-href="http://purchasing-officer-coders-58830.bitballoon.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=200&amp;href=http%3A%2F%2Fpurchasing-officer-coders-58830.bitballoon.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true"><span style="vertical-align: bottom; width: 122px; height: 20px;"><iframe name="f11edc8acc" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/v2.4/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2Fjb3BUxkAISL.js%3Fversion%3D41%23cb%3Df288d5e0d4%26domain%3Dpurchasing-officer-coders-58830.bitballoon.com%26origin%3Dhttp%253A%252F%252Fpurchasing-officer-coders-58830.bitballoon.com%252Ffd37e8a4%26relation%3Dparent.parent&amp;container_width=200&amp;href=http%3A%2F%2Fpurchasing-officer-coders-58830.bitballoon.com%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true" style="border: none; visibility: visible; width: 122px; height: 20px;" class=""></iframe></span></div>
            
         <!-- twitter-->  

            <div class="twitter">
              <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.450bd5fbaeab74caf9d49a3141d20693.en.html#_=1445390211679&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=SRPhillips1844&amp;show_count=false&amp;show_screen_name=false&amp;size=m" style="position: static; visibility: visible; width: 59px; height: 20px;" data-screen-name="SRPhillips1844"></iframe>
            </div>
          </div>

      </footer>
    </div>


</body>
</html>
